<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Simulação</title>
	<script src="/static/js/jquery1.6.1.js" type="text/javascript"></script>
	<script src="/static/js/jquery-ui-1.8.14.custom/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>

    <link href="/static/js/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css">
	<link href="/static/css/base.css" rel="stylesheet" type="text/css">
	
    <script>
        var global = {};
            
        function limpa_simulacao(){
            $('span').remove();
            $('.transporte').each(function(){
                $(this).find('#capacidade_atual').val(0);
            });
        }
        
        function cria_passageiros(qtd, obj){
           for(i=0;i<qtd;i++){
               $('.'+obj.passageiros[i].tipo).append("<span class='pessoa' id="+i+"></span>");
           }
        }
        
        function movimenta_passageiros(indice,qtd, obj){
            var i = indice + 1;
         //   console.log(qtd);
            if(indice<qtd){
                if(obj.passageiros[indice].embarcou){
                    $('#'+indice).animate({
                        left:$('.'+obj.passageiros[indice].transporte).offset().left,
                        //top:$('.'+obj.passageiros[i].transporte).offset().top,
                        opacity:"0",
                    },500,function(){
                        movimenta_passageiros(i,qtd, obj);
                    });
                    setTimeout(function(){
             //           console.log(obj.passageiros[indice].transporte)
               //         console.log(i)
                        var atual = $('.'+obj.passageiros[indice].transporte).find('#capacidade_atual').val();
                        $('.'+obj.passageiros[indice].transporte).find('#capacidade_atual').val(parseInt(atual)+1);
                        var transporte = $('.'+obj.passageiros[indice].transporte);
                        trata_status_transporte(transporte);
                    },500);
                }else{
                    setTimeout(function(){
                        $('#'+indice).css('background-color','red');
                        movimenta_passageiros(i,qtd, obj);
                    },500);   
                }
            }
        }
        
        function trata_status_transporte(transporte){
            //console.log(transporte);
            if(!transporte){
                $('.transporte').each(function(){
                    $(this).addClass(trata_cor(this));
                })
            }else{
                    $(transporte).addClass(trata_cor(transporte))
            }
        }
        
        function trata_cor(elemento){
            max = $(elemento).find('#capacidade_maxima').val();
            atual = $(elemento).find('#capacidade_atual').val();
            
            //console.log(max,atual)
            
            if(max/2==atual){
                return 'atencao';
            }else if(max == atual){
                return 'lotado';
            }else{
                return 'livre';
            }
        }
        
        $(document).ready(function(){
            $('#simular').click(function(){
                limpa_simulacao();
                var num_pessoas = $('#num_pessoas').val();
                
                $.getJSON('/ajax/'+num_pessoas+'/', function(data){
                  // console.log(data);
                    var qtd_pessoas = data.passageiros.length;
                    var transporte = false;
                    cria_passageiros(qtd_pessoas,data);
                    trata_status_transporte(transporte);
                    movimenta_passageiros(0,qtd_pessoas,data);

                });
            });
        });//document.ready
    </script>
</head>

<body>
    <fieldset>
        <legend>Numero de Pessoas:</legend>
        <input type="text" name='num_pessoas' id='num_pessoas'>    
         <input type="button" value="simular" id='simular'>
    </fieldset>
   
    <fieldset class='ambiente'>
        <legend>Ambiente</legend>
        {% for passageiro in passageiros %}
            <fieldset class='passageiro {{passageiro.nome}}' id='{{passageiro.nome}}'>
                <legend>{{passageiro.nome}}</legend>
            </fieldset>
        {%endfor%}

        {% for transporte in transportes %}
            <fieldset class='transporte {{transporte.nome}}' id='{{transporte.nome}}'>
                <legend>{{transporte.nome}}</legend>
                <input type='hidden' id='capacidade_maxima' value={{transporte.capacidade_maxima}}>
                <input type='hidden' id='capacidade_atual' value={{transporte.capacidade_atual}}>
            </fieldset>
        {%endfor%}
    </fieldset>
    
</body>

</html>
