<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Simulação</title>
    
    <script src="/static/js/jquery1.6.1.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.8.14.custom/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>
    <script src="/static/js/passageiro.js" type="text/javascript"></script>
    <script src="/static/js/geral.js" type="text/javascript"></script>

    <link href="/static/js/jquery-ui-1.8.14.custom/css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    <link href="/static/css/mundo.css" rel="stylesheet" type="text/css">
    <link href="/static/css/grafico_barra.css" rel="stylesheet" type="text/css">
    
    <script>
        $(document).ready(function(){
            
            function posiciona_transportes(transporte){
                console.log(transporte);
                mapa = $('div.mundo');
                mapa.append('<span id="'+transporte.id+'" class="transporte '+transporte.origem+' '+transporte.status+'" origem="'+transporte.origem+'" destino="'+transporte.destino+'"></span>');
            }
            function movimenta_transportes(transporte){
                transporte = $('#'+transporte.id+'')
                origem = transporte.attr('origem');
                destino = transporte.attr('destino');
                //origem em Q1
                if(origem == 'q1' && destino == 'q2'){
                    q1q2(transporte);
                }
                if(origem == 'q1' && destino == 'q3'){
                    q1q3(transporte); 
                }
                if(origem == 'q1' && destino == 'q4'){
                    q1q4(transporte);
                }

                //origem em Q2
                if(origem == 'q2' && destino == 'q1'){
                    q1q2(transporte);
                }
                if(origem == 'q2' && destino == 'q3'){
                    q1q3(transporte); 
                }
                if(origem == 'q2' && destino == 'q4'){
                    q1q4(transporte);
                }

                //origem em Q3
                if(origem == 'q3' && destino == 'q1'){
                    q1q2(transporte);
                }
                if(origem == 'q3' && destino == 'q2'){
                    q1q3(transporte); 
                }
                if(origem == 'q3' && destino == 'q4'){
                    q1q4(transporte);
                }

                //origem em Q4
                if(origem == 'q4' && destino == 'q1'){
                    q1q2(transporte);
                }
                if(origem == 'q4' && destino == 'q2'){
                    q1q3(transporte); 
                }
                if(origem == 'q4' && destino == 'q3'){
                    q1q4(transporte);
                }
            }

            var teste;
            {% for quadrante in quadrantes %}
                qtd_passageiros_desalocados_q{{quadrante.id}} = $('#passageiros_desalocados_q{{quadrante.id}}').val(); 
                qtd_passageiros_alocados_q{{quadrante.id}} = $('#passageiros_alocados_q{{quadrante.id}}').val(); 
                qtd_carros_disponiveis = $('#num_carros').val();
            {% endfor %}

            {% for transporte in transportes %}
                transporte_modelo_{{transporte.id}} = new Transporte()
                transporte_modelo_{{transporte.id}}.tipo = "{{ transporte.nome }}"
                transporte_modelo_{{transporte.id}}.tempo = {{ transporte.tempo_viagem }}
                transporte_modelo_{{transporte.id}}.capacidade_maxima = {{ transporte.capacidade_maxima }}
                transporte_modelo_{{transporte.id}}.capacidade_atual = {{ transporte.capacidade_atual }}
                transporte_modelo_{{transporte.id}}.capacidade_confortavel = {{ transporte.capacidade_confortavel }}
            {% endfor %} 

            $("#simular").click(function(){
                //primeiro ajax que monta simulação, cria agentes
                $.ajax({
                    type:'POST',
                    data: $("#my_form").serialize(),
                    url: '/constroi_mundo/{{mundo.id}}/',
                    success: function(data) {
                        //alocação do passageiros nos transportes
                        var qtds_alocados = 0;
                        total_passageiros =  data['id_passageiros'].length;
                        
                        for (id in data['id_passageiros']){    
                            $.ajax({
                                type:'POST',
                                data: $("#my_form").serialize(),
                                url: '/aloca_passageiro/'+data['id_passageiros'][id]+'/',
                                success: function(data) {
                                    qtds_alocados ++;
                                    grafico_transporte = $('#'+data.transporte+''); 
                                    if(data['tipo_transporte'] == 'carro'){
                                        antigo = parseInt(grafico_transporte.css('width'));
                                        novo = antigo + parseInt(data.aumento); 
                                    }
                                    else{
                                        novo = parseInt(data.aumento);
                                    }
                                    grafico_transporte.css('width', novo);
                                    $('#passageiros_desalocados_q'+data['quadrante']+'').val(data['passageiros_desalocados'])
                                    $('#passageiros_alocados_q'+data['quadrante']+'').val(data['passageiros_alocados'])
                                    
                                    if(qtds_alocados==total_passageiros){
                                        console.log(data)
                                        $.getJSON('/monta_mapa/transportes.json', function(data) { 
                                            for(i in data['transportes']){
                                                posiciona_transportes(data['transportes'][i]);        
                                            }
                                            for(i in data['transportes']){
                                                movimenta_transportes(data['transportes'][i]);        
                                            } 
                                        });
                                    }
                                }
                            });
                        }

                    }
                });
            });
          });//document.ready

    </script>
</head>

<body>
    <form name='simula_form' method='post' id="my_form">
    {% csrf_token %}
    <fieldset>
        <legend>Numeros Gerais do Mundo:</legend>
        <label for="num_pessoas">Pessoas Mundo</label>
        </br>
        <input type="text" name='num_pessoas' id='num_pessoas' value='{{ mundo.qtd_pessoas }}'> 
        <br/>
        <label for="num_transportes">Quantidade de Transportes:</label>
        <br/>        
        <input type="text" name='num_transportes' id='num_transportes' value='{{ mundo.qtd_transportes }}'>
        <input type="hidden" name='num_transportes_usados' id='num_transportes_usados'>
        <br/>
        <label for="num_carros">Quantidade de Carros:</label>
        <br/>        
        <input type="text" name='num_carros' id='num_carros' value='{{ mundo.qtd_carros }}'>
        <input type="hidden" name='num_carros_usados' id='num_carros_usados' >

        <br/><br/>
        <label for="permite_carros">Nesse mundo a pessoas possuem carro ?</label>
        <input type="checkbox" name='permite_carros' id='permite_carros_mundo'{%if mundo.permite_carros%}checked{%endif%} > 

        <br/><br/>
        <label for="num_pessoas_evento">Quantidade pessoas mega evento:</label>
        <br/>
        <input type="text" name='num_pessoas_evento' id='num_pessoas_evento' value='{{ mega_evento.qtd_pessoas_esperadas }}'> 
        <br/>
        <label for="local_mega_evento">Local Mega Evento:</label>
        <br/>
        <select name="local_mega_evento" id="local_mega_evento">
            {% for quadrante in quadrantes %}
            <option name='local_mega_evento' value='{{quadrante.id}}' {% if quadrante.evento.all.0 %} selected="selected" {% endif %} >{{quadrante}}</option>
            {% endfor %}
        </select>
        <br/>
        <br/>      
       <input type="button" value="simular" id='simular'>
    </fieldset>
    
    {% include "transporte_passageiros.html" %}
    
    {% include "transporte_transportes.html" %}
    </form>

</body>

</html>
