    <h3>Passageiros x Transporte</h3>
   {% for quadrante in quadrantes %}
   <fieldset class='info-quadrante'>
       <legend>Quadrante {{quadrante.id}}</legend>
       Pessoas: <input type="text" name='percent_pes_q{{quadrante.id}}' id='percent_pes_q{{quadrante.id}}' value='{{quadrante.percentual_pessoas}}'>%
       <br/>
       Transportes: <input type="text" name='percent_trans_q{{quadrante.id}}' id='percent_trans_q{{quadrante.id}}' value='{{quadrante.percentual_transportes}}'>%    
       <br/>
       Permite Carro: <input type="checkbox" name='permite_carro_q{{quadrante.id}}' id='permite_carro_q{{quadrante.id}}' {%if quadrante.permite_carros%}checked{%endif%}>   
       <br/>
       Vazão Confortavel: <input type="text" name='vazao_confortavel_q{{quadrante.id}}' id='vazao_confortavel_q{{quadrante.id}}' value='{{quadrante.vazao_confortavel}}' >   
       <br/>
       Vazão Moderada: <input type="text" name='vazao_moderada_q{{quadrante.id}}' id='vazao_moderada_q{{quadrante.id}}' value='{{quadrante.vazao_moderada}}' >   
       <br/>
       Vazão Máxima: <input type="text" name='vazao_maxima_q{{quadrante.id}}' id='vazao_maxima_q{{quadrante.id}}' value='{{quadrante.vazao_maxima}}' >   
       <br/>
       {% for distancias in quadrante.distancias_origens.all %}
            {{ distancias }}: <input type="text" name='{{ distancias }}' id='{{ distancias }}' value='{{distancias.distancia}}'>
       {% endfor %}
    </fieldset>
   {% endfor %}
    <div class='ambiente_escolha'>
       {% for quadrante in quadrantes %}
       {% if quadrante.percentual_transportes != 0 %}
           {% if not forloop.first %}<hr/>{%endif%}
           
           <fieldset class="passageiros" id="passageiros_q{{quadrante.id}}">
               <legend>Passageiros do Quadrante {{quadrante.id}}</legend>
               passageiros desalocados: <input type="text" name=quadrante_passageiros_desalocados_q{{quadrante.id}}" id="passageiros_desalocados_q{{quadrante.id}}"> 
               passageiros alocados: <input type="text" name="quadrante_passageiros_alocados_q{{quadrante.id}}" id="passageiros_alocados_q{{quadrante.id}}" readonly="readonly">   
            </fieldset> 
            <fieldset class="transportes" >
                <legend>Transportes do Quadrante {{quadrante.id}}</legend>
                <div id="container" id="transportes_q{{quadrante.id}}" >
                   {% for transporte in transportes %}
                        <div class="box-wrap" >
                            <div class="box1"></div>
                            <div class="box2"></div>
                            <div class="box3"></div>
                            <div class="box4"></div>
                            <div class="target" style="left:{{transporte.porcentagem_maxima_confortavel}}px"></div>
                            <div class="actual" id='q{{quadrante.id}}_t{{ transporte.id }}' style="width: {{transporte.porcentagem_atual_de_passageiros}}%"></div>
                            <div class="mylabel">{{ transporte.nome }}</div>
                        </div>
                        {% if not forloop.last %}<p></p>{% endif %}
                    {% endfor %}

                    {% if quadrante.permite_carros and quadrante.mundo.permite_carros %}
                        <p></p>
                        <div class="box-wrap">
                            <div class="box1"></div>
                            <div class="box2"></div>
                            <div class="box3"></div>
                            <div class="box4"></div>
                            <div class="actual" id='q{{quadrante.id}}_carro' style="width:0%"></div>
                            <div class="mylabel">Carros</div>
                        </div>
                   {% endif %}

                    <div class="box-wrap">
                        <div class="cap21">0%</div>
                        <div class="cap22">25%</div>
                        <div class="cap23">50%</div>
                        <div class="cap24">75%</div>
                        <div class="cap25">20%</div>
                        <div class="cap26">100%</div>	

                        <div class="scale-tb1">
                            <div class="sc21"></div>
                            <div class="sc22"></div>
                            <div class="sc23"></div>
                            <div class="sc24"></div>
                            <div class="sc25"></div>
                            <div class="sc26"></div>
                        </div>
                    </div>
                </div><!-- container -->
           </fieldset>
           
       {%endif%} 
       {% endfor %}
    </div>



