div{
    border:solid 1px black;
    width:40px;
    height:17px;
    margin:10px;
    padding:40px;
    display:block;
    position:relative;
}
#simular{
    height: 64px;
    width: 100px;
    float: right;
}
.ambiente{
    display:block;
    position:relative;
}

.transporte{
    border-radius: 18px;
    float:right;
    width: 160px;
    margin-left: 450px;
}

.passageiro{
    float: left;
    position: relative;
    display: block;
}

.pessoa{
    border:solid 1px black;
    border-radius: 18px;
    display:block;
    width:30px;
    height:30px;
    position: relative;
}

fieldset.transporte{
    height: 40px;
}

.livre{
    background-color:#7CFC00;
}

.atencao{
    background-color:#FFFF00;
}

.lotado{
    background-color:#FF0000;    
}